index.php
.idea/
/app/*
/app/code/*
/code/community/*
/code/core/*
/code/local/*
!/app/code
!/app/code/local
!/app/code/local/Camera
!/app/code/local/Mage
!/app/code/local/Camera/Malabi

!/app/design/adminhtml/default/

/app/etc/*
/app/etc/modules/*

!/app/etc
!/app/etc/modules
!/app/etc/modules/Camera_Malabi.xml


