<?xml version="1.0"?>
<config>
    <modules>
        <Camera_Malabi>
            <version>0.1.0</version>
        </Camera_Malabi>
    </modules>
    <frontend>
        <routers>
            <productclick>
                <use>standard</use>
                <args>
                    <module>Camera_Malabi</module>
                    <frontName>productclick</frontName>
                </args>
            </productclick>
        </routers>
        <layout>
            <updates>
                <productclick>
                    <file>productclick.xml</file>
                </productclick>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
            <productclick>
                <use>admin</use>
                <args>
                    <module>Camera_Malabi</module>
                    <frontName>productclick</frontName>
                </args>
            </productclick>
        </routers>
    </admin>
    <adminhtml>
        <menu>
            <productclick module="productclick">
                <title>Background Remover by Malabi</title>
                <sort_order>71</sort_order>
                <action>productclick/adminhtml_productclick</action>
            </productclick>
        </menu>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <Camera_Malabi>
                            <title>Product Click Module</title>
                            <sort_order>10</sort_order>
                        </Camera_Malabi>
                    </children>
                </admin>
            </resources>
        </acl>
        <layout>
            <updates>
                <productclick>
                    <file>productclick.xml</file>
                </productclick>
            </updates>
        </layout>
    </adminhtml>
    <global>
        <models>
            <productclick>
                <class>Camera_Malabi_Model</class>
                <resourceModel>productclick_mysql4</resourceModel>
            </productclick>
            <productclick_mysql4>
                <class>Camera_Malabi_Model_Mysql4</class>
                <entities>
                    <productclick>
                        <table>customer_productclick</table>
                    </productclick>
                </entities>
            </productclick_mysql4>
        </models>
        <resources>
            <productclick_setup>
                <setup>
                    <module>Camera_Malabi</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </productclick_setup>
            <productclick_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </productclick_write>
            <productclick_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </productclick_read>
        </resources>
        <blocks>
            <productclick>
                <class>Camera_Malabi_Block</class>
            </productclick>
        </blocks>
        <helpers>
            <productclick>
                <class>Camera_Malabi_Helper</class>
            </productclick>
        </helpers>
    </global>
</config>